mixin checkInData(checkInData)
    ul.checkInData
        li.checkIn__type #{checkInData.type}
        li.checkIn__payment #{checkInData.payment}
        li.checkIn__price #{checkInData.price}
        li.checkIn__time #{checkInData.time.checkIn}