extends base

block content 
    div#board
    button#floor-addBtn.board-edit__btn ➕ 
    button#floor-removeBtn.board-edit__btn ➖
    button#board-saveBtn.board-edit__btn save
    button#board-edit__btn Edit
    script(src="/assets/js/main.js") 