extends base

block content 
    h1 #{pageTitle}
    div(data-id=loggedInUser._id)#board
    button#floor-addBtn.board-edit__btn ➕ 
    button#floor-removeBtn.board-edit__btn ➖
    button#board-saveBtn.board-edit__btn save
    button#board-edit__btn Edit
    include component/checkIn
    script(src="/assets/js/board.js") 