extends base
include mixins/checkInData

block content 
    h1 #{pageTitle}
    div#revenue 
        form 
            select(name="range") 
                option(value="week") 일주일
                option(value="month") 한달
                option(value="year") 올해
            input(type="submit", value="조회")
        
    each checkInData in checkInDatas
        +checkInData(checkInData)
block scripts
    script(src="/assets/js/chart.js")